/* Default Layout: 992px.*/

  /* Tablet Layout: 768px. */
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    
  }
  
  /* Mobile Layout: 320px.*/
  @media only screen and (max-width: 767px) {
    .footer-border-right {
        border-right: none;
    }
    .margin-mobile-bottom{
      margin-bottom: 10px;
    }

    .owl-nav .owl-next{
      right: 50px;
  }
  
  .owl-nav .owl-prev{
      left:50px;
  }
  .box-title h5 {
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.box-icon{
  font-size: 25px;
 
}
  .home-wellcome-font-size-title{
    font-size: 20px;
  }

  .select-location {
    font-size: 14px;
    padding: 3px 4px 3px 4px;
}

.padding-zero{
  padding-left: 0;
  padding-right:0 ;
}
   
  }
  
  /*Wide Mobile Layout: 480px.*/
  
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    
  }